.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd0c8;
}

.image {
  border-radius: 25px;
  height: 100vh;
  padding: 4rem 10rem;
}

.info {
  text-align: left;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #323232;
  padding-right: 10rem;
}
